.activityLog {
    padding: 20px 40px;
    margin: 28px auto;
    width: 90vw;
    background-color: #18212a;
    opacity: 0.9;
    color: #fff;
    border-radius: 20px;
    min-height: 100%;
}

.row {
    height: 5rem;
    display: flex;
    align-items: center;
    border-top: solid rgba(255, 255, 255, 0.6) 1px;
}

.legend {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.date {
    flex: 2;
}

.user {
    flex: 2;
}

.fastpay {
    flex: 1;
    text-align: center;
}

.quantity {
    flex: 1;
    text-align: center;
}

.currency {
    flex: 1;
    text-align: center;
}

.row:last-of-type {
    border-bottom: solid rgba(255, 255, 255, 0.6) 1px;
}
