/*LOGIN AND REGISTER CARD*/

.mess {
    font-family: 'KoHo', cursive;
    font-size: 12px;
    text-align: center;
}

.lo:hover {
  box-shadow: -30px 30px 3px -10px #131a21;
  transition: width, height, box-shadow, border, font-size;
  border: 3px solid #FFF;
  transition-duration: .7s;
  font-size: 115%;
}

  .lo {
    background-color: #0B3550;
    height: 80vh;
    box-shadow: 20px 20px 0px 2px #131a21;
    cursor: pointer;
    border: 5px solid #000;
    transition-duration: .7s;
  }
    
  .background-login {
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: 'Teko';
    justify-content: center;
    background: url(../../assets/background.webp) no-repeat fixed center; background-size: cover;
    position: relative;
  }

  .background-login:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: AnimateBG 10s alternate infinite;
    background-color: rgba(0,0,0,0.5);
  }

@keyframes AnimateBG { 
  0%{background-color:rgba(0,0,0,0.3)}
  50%{background-color:rgba(0,0,0,0.0)}
  75%{background-color:rgba(0,0,0,0.2)}
  100%{background-color:rgba(0,0,0,0.4)}
}
  

  @media (min-width: 1200px) {

    .form-control3 {
      width: 25%;
    }
  }