/*--------------------------------------------------------------
# Card Form
--------------------------------------------------------------*/

.card-form:hover {
  box-shadow: -30px 30px 3px -10px #131a21;
  transition: width, height, box-shadow, border;
  border: 3px solid #FFF;
  transition-duration: .7s;
}

.title-form {
  font-family: 'Teko';
  text-shadow: 2px 2px 2px #000;
  font-size: 5rem;
  letter-spacing: .1rem;
}

.card-form {
  padding: 10px 20px;
  border-radius: 25px;
  width: 30rem;
  box-shadow: 20px 20px 0px 2px #131a21;
  transition-duration: .7s;
  font-family: 'Teko';
  color: #fff;
  z-index: 1;
}

.center-btn {
  display: grid;
  place-content: center;
  margin-top: 1rem;
}

.submit-btn {
  width: 20rem;
  font-size: 2rem;
}

.useful-link {
  display: block;
  margin: 5px 0px;
}

.label-form {
  margin: 10px 0px;
}

/*--------------------------------------------------------------
# Login Page
--------------------------------------------------------------*/

.login {
  background-color: #0B3550;
  border: 5px solid #000;
}

#logo-login {
  width: 12rem;
  margin: 2px auto;
}

.background-login {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background: url(../../assets/background.webp) no-repeat center;
}

.background-login:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: AnimateBG 10s alternate infinite;
  background-color: rgba(0,0,0,0.5);
}

@keyframes AnimateBG { 
  0%{background-color:rgba(0,0,0,0.3)}
  50%{background-color:rgba(0,0,0,0.0)}
  75%{background-color:rgba(0,0,0,0.2)}
  100%{background-color:rgba(0,0,0,0.4)}
}

/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/

@media (min-width: 768px) {

  .card-form:hover {
    font-size: 110%;
    transition: font-size .7s;
  }
}
@media (max-width: 576px) {

  .submit-btn {
    width: 10rem;
  }

  .card-form {
    width: 20rem;
  }
}