/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


.background-order {
  justify-content: center;
  background: url(../../assets/background-movements.jpg) no-repeat fixed center; background-size: cover;
  height: 100vh;
  margin-top: 70px;
  width: 100vw;
}

.background-order2 {
  justify-content: center;
  background: url(../../assets/background-movements.jpg) no-repeat center; background-size: cover;
  height: 100vh;
  margin-top: 70px;
  width: 100vw;
}

.background-transparent {
  background: transparent;
  border: 0px;
}

/*--------------------------------------------------------------
# Sell
--------------------------------------------------------------*/


.new-sell:hover {
  box-shadow: -30px 30px 3px -10px #737373;
  transition: box-shadow, border;
  border: 3px solid rgb(207, 179, 0);
  transition-duration: .7s;
}

.new-sell {
  margin: 0px auto;
  background-color: #1a0505;
  cursor: pointer;
  border: 5px solid rgb(207, 179, 0);
  transition-duration: .7s;
}

.sell {
  text-shadow: #d7b300 2px 2px;
  color: #FFF;
}

/*--------------------------------------------------------------
# Buy
--------------------------------------------------------------*/


.buy {
  text-shadow: #2a9400 2px 2px;
  color: #FFF;
}

.new-buy:hover {
  box-shadow: -30px 30px 3px -10px #737373;
  transition: box-shadow, border;
  border: 3px solid rgb(35, 122, 0);
  transition-duration: .7s;
}

.new-buy {
  width: 30vw;
  margin: 0px auto;
  background-color: #1a0505;
  cursor: pointer;
  border: 5px solid rgb(35, 122, 0);
  transition-duration: .7s;
}

.orders {
  text-align: center;
  align-items: center;
  padding-left: 15%;
  font-size: 1.5em;
  font-family: 'KoHo';
  font-weight: bold; 
  text-shadow: -1.5px -1.5px 1.5px #000, 1.5px 1.5px 1.5px #000, -1.5px 1.5px 1.5px #000, 1.5px -1.5px 1.5px #000;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/


@media (max-width: 675px) {

  .background-order2 {
    height: fit-content;
  }

  .new-buy, .new-sell {
    font-size: 60%;
    width: 90vw;
  }

  .orders {
    margin-left: 18vw;
    margin-top: 20px;
  }
  
}

@media (min-width: 390px) {
  
  .background-order2 {
    height: 100vh;
  }
}