@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');

.form-pay {
    border: none;
    border-radius: 0;
    font-style: italic;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 14px;
}

.form-pay:focus {
    box-shadow: none;
    border-bottom: 2px solid rgb(79, 0, 237);
    background-color: transparent;
}

.form-control3 {
    background-color: transparent;
    display: inline-block;
    padding-right: 10px;
}

.wallet {
    font-size: 13px;
}

.currency {
    height: 30px;
}

.payment {
    font-size: 10px;
}

.card-payment {
    cursor: pointer;
    position: relative;
    border: 5px solid #000;
    background-color: #0B3550;
  }

.background-sendPayment {
    font-family: 'Teko';
    justify-content: center;
    background: url(../../assets/sendPayment.webp) no-repeat fixed center; background-size: cover;
    position: relative;
  }

  .background-sendPayment:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: pay 10s alternate infinite;
  }

  @media (max-width: 1200px) {


    .payments {
        font-size: 40%;
    }

    .currency {

        height: 20px;
    }
  }

  @media (min-width: 1200px) {


    .payments {
        font-size: 40%;
    }

    .currency {

        height: 20px;
    }
  }

  @keyframes pay {
    50%{background-color:rgba(28, 28, 28, 0.7)}
  }