/*--------------------------------------------------------------
  # General Variables
  --------------------------------------------------------------*/

:root {
  --bg-btn: #004160;
  --color-sky: #3cbbcc;
  --color-text: #ffffff;
  --size-btn: 20px;
  --border-radius: 25px;
  --padding-btn: 10px 20px;
}

section {
  padding: 60px 0;
  overflow: hidden;
}


/*--------------------------------------------------------------
  # Get Started
  --------------------------------------------------------------*/

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../assets/home.jpg) no-repeat center; background-size: cover;
}

h1, h2 {
  margin: 1rem 2rem;
  font-style: italic;
  font-family: 'Lobster';
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: var(--color-sky);
  text-shadow: var(--color-text) 1px 1px 0px;
}

.title-section h2 {
  color: var(--color-text);
  font-size: 1.5rem;
}

#btn-get-started {
  font-weight: bold;
  font-size: var(--size-btn);
  display: inline-block;
  padding: var(--padding-btn);
  border-radius: var(--border-radius);
  transition: 0.5s;
  background: var(--bg-btn);
}

#btn-get-started:hover, #btn-why:hover {
  background-color: #002436;
}

#btn-why {
  font-size: var(--size-btn);
  margin-left: 20px;
  background-color: var(--color-sky);
  color: var(--color-text);
  font-weight: bold;
  border-radius: var(--border-radius);
  padding: var(--padding-btn);
}

.btn-title {
  display: flex;
  font-style: italic;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
  


/*--------------------------------------------------------------
# WHY US
--------------------------------------------------------------*/

.why-us {
padding: var(--padding-btn);
height: 100%;
padding: 8vh;
font-family: 'KoHo';
background: url(../../assets/why-us.svg) no-repeat center;
}

.why-prg h3 {
font-weight: 400;
font-size: 2rem;
color: var(--color-text);
font-style: italic;
}

.why-us p {
font-size: 1rem;
color: var(--color-text);
}

.why-us .accordion-list {
width: 50%;
padding-bottom: 10vh;
}

.why-us .accordion-list li+li {
margin-top: 15px;
}

.why-us .accordion-list li {
padding: var(--padding-btn);
background: #FFF;
border-radius: var(--border-radius);
}

.why-us .accordion-list a {
display: block;
font-family: "Poppins", sans-serif;
font-size: var(--size-btn);
font-weight:bold;
cursor: pointer;
}

.why-us .accordion-list span {
color: #47b2e4;
font-weight: 600;
font-size: var(--size-btn);
}

.why-us .accordion-list p {
margin-bottom: 0;
padding: 10px;
color: #000;
}

.why-us .accordion-list .icon-show {
display: none;
}

.why-us .accordion-list a.collapsed {
color: #343a40;
}

.accordion-list a {
color: rgb(56, 108, 103);
}

.accordion-list a.collapsed .icon-show {
display: inline-block;
}

/*--------------------------------------------------------------
# TEAM
--------------------------------------------------------------*/

.team {
  background-color: #f3f5fa;
} 

.team h3, .team p, .contact h3 {
  text-align: center;
  padding-bottom: 15px;
}

.team h3, .contact h3 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  font-family: 'KoHo';
}

.team h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.team h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
 
.member {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  background: #FFF;
  transition: 0.5s;
}
  
.member .pic {
  overflow: hidden;
  width: 15rem;
  border-radius: 50%;
}
  
.member:hover {
  transform: translateY(-10px);
}
  
.member-info {
  padding-left: 30px;
}

.member-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.member h4 {
  font-weight: bold;
  font-size: 2rem;
  color: var(--bg-btn);
}
  
.member span {
  font-size: 1.2rem;
  font-weight: 500;
}
  
.member p {
  margin: 10px;
  font-size: 1rem;
}
  
.social {
  display: flex;
  justify-content: center;
}
  
.social a {
  transition: ease-in-out 0.3s;
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background: #eff2f8;
}
  
.social a:hover {
  background-color: #003c79 !important;
  color: #fff;
}

.social a+a {
  margin-left: 12px;
}

/*--------------------------------------------------------------
# CONTACT
--------------------------------------------------------------*/

.contact {
  background: url(../../assets/background-2.png) no-repeat center;
}

.contact h3 {
  color: #000;
  font-style: italic;
}

.contact-card {
  font-style: italic;
  margin: 5px;
  border: 3px dashed rgb(255,193,7);
  padding: 30px;
  background: #212F3C;
  color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.6);
}
  
.address p, .email p, .phone p {
  font-size: 1rem;
}

.address span, .email span, .phone span {
  font-size: 1.5rem;
}

.text-info {
  margin-top: 15px;
}

/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/

@media (max-width: 768px) {

  .member-cards {
    flex-direction: column;
  }

  .member-details {
    gap: 20px;
    flex-direction: column;
  }

  .why-prg h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px auto;
  }

  .why-us {
    padding: 2vh;
  }

  .why-us p {
    font-size: 1.25rem;
  }

  .why-prg p {
    font-size: 1rem;
    text-align: center;
  }

  .why-us .accordion-list {
    width: 100%;
  }

}