.pieContainer {
    width: 40%;
    height: 550px;
    margin-top: -7px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.pieContainer canvas {
    max-height: 90%;
    max-width: 100%;
}

.pieHeader {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    font-size: 26px;
}
