#header {
  height: 80px;
  background: linear-gradient(rgb(0, 0, 0), 10%, transparent);
}

#header .logo h1 {
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#header .logo h1 a:hover {
  color: #28c6a9;
  text-decoration: none;
}

.log {
  height:40px;
}

.navbar {
  padding: 0;
}

.navbar a,
.navbar a:focus {
  display: flex;
  font-family: 'KoHo';
  font-size: 17px;
  color: #fff;
  transition: 0.3s;
}

.navbar-nav {
  flex-grow: 0;
}

@media (max-width: 992px) {

  .navbar-nav button {
    margin-top: 10px;
    background-color: transparent;
    border: transparent;
  }

  .navbar-nav {
    margin-top: 12px;
  }

  .container-fluid {
    padding: 0px;
  }

  #header {
    height: 60px;
  }

  .navbar-nav, #header {
    background: rgba(0,0,0,0.5);
  }
  
}

@media (min-width: 992px) {

  .navbar-nav button {
    margin: 0px 15px;
  }
  
}