#header {
  height: 10vh;
  background: linear-gradient(rgb(0, 0, 0), 10%, transparent);
}

.navbar-nav a {
  margin-left: 15px;
}

.logo h1 {
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.logo h1 a:hover {
  color: #28c6a9;
  text-decoration: none;
}

.log {
  height:40px;
}

.navbar a{
  font-family: 'KoHo';
  font-size: 1rem;
  color: #fff;
}

.navbar-nav {
  flex-grow: 0;
}

.btn-navbar {
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width: 992px) {

  .navbar-nav {
    padding: 20px;
    margin-top: 12px;
  }

  #header {
    height: 65px;
  }

  .navbar-nav, #header {
    background: rgba(0,0,0,0.5);
  }
  
}

@media (min-width: 992px) {

  #btn-login {
    background-color: #0d6efd;
  }
  
  #btn-register {
    background-color: #198754;
  }
  
}